<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timer Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='control.css') }}">
</head>
<body>
    <h1>Timer Page</h1>
    <div class="timer-display">
        <span id="mode">{{ mode }}</span>
        <span id="timerDisplay">{{ time_left }}</span>
    </div>
    <script>
        const initialTimerState = {
            duration: {{ duration }},
            running: {{ running | tojson }},
            mode: "{{ mode }}",
            start_time: {{ start_time | default(0.0) }}
        };
    </script>

    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/timer.js') }}"></script>
</body>